body {
	font-family: sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0 2px 15px 0;
	-ms-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	user-select: none
}
h1 { font-size: 18px; margin: 14px 9px 6px 20px }
div {
	background-color: #e0e6e0;
	border: 1px solid #72ab69;
	border-radius: 6px;
	margin: 5px;
	padding: 5px
}
form { border: 0; margin: 0 }
.b {
	appearance: none;
	background: #75AC6C;
	border: 1px solid #2E8022;
	border-radius: 0;
	color: #fafffa;
	cursor: pointer;
	font-size: 16px;
	margin: 2px 0 4px 33px;
	padding: 0;
	text-align: center;
	vertical-align: baseline
}
.b:active { background: #2E8022; color: #000 }
.r {
	font-size: 12px;
	height: 24px;
	margin-left: 16px;
	width: 60px
}
.s {
	height: 38px;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	width: 172px
}
.te {font-size:large}
textarea {
	font-family: monospace;
	font-size: medium;
	height: 12em;
	overflow: scroll;
	resize: none;
	user-select: text;
	width: 99%
}
.n {display:none}
img { margin: 0; padding: 4px 10px }
ol, ul {line-height:1.3}
@media only screen and (min-device-width: 413px) and (max-device-width: 415px) { textarea { height: 18em } }
@media only screen and (min-device-width: 374px) and (max-device-width: 376px) { textarea { height: 20em } }
@media only screen and (min-device-width: 359px) and (max-device-width: 361px) { textarea { height: 14em } }
@media only screen and (min-device-width: 319px) and (max-device-width: 321px) { textarea { height: 20em } }
